body{
    margin:0px;
    background-color: #04040e;
}
h1{
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 1000;
color: white;
}
section{
display: flex;
height: 500px;
width: 100%;
justify-content: center;
}
#corpo{
height: 450px;
width: 400px;
align-self: center;
background-color: white;
display: flex;
justify-content: space-around;
flex-direction: column;
border: 5px #111111 solid;
border-radius: 20px 20px 10px 10px;
}
#corpo>div{
width: 95%;
align-self: center;
margin-top: 5px;
border-radius: 10px 10px 5px 5px;
}
#topo{
background-color: black;
color: white;
height: 10%;
text-align: center;
line-height: 10px;
font-size: 20px;
border: 2px rgb(85, 84, 84) solid;
}
#tela{
background-color: black;
height: 20%;
text-align: center;
}
#tela>input{
width: 95%;
height: 85%;
font-size: 35px;
text-align: right;
border-radius: 10px 10px 0px 0px;
border: 2px #000000 solid;
margin-top: 2px;
}
#teclado{
height: 75%;
margin-block-end: 5px;
display: flex;
flex-direction: column;
justify-content: space-around;
}
#teclado>div{
margin: 3px;
width: 100%;
height: 100%;
align-self: center;
}


#teclado>#linha1{
height: 70%;
display:flex;
justify-content: center;
flex-direction: row;
}
#linha1>div{
width: 100%;
height: 100%;
color: white;
align-self: center;
text-align: center;
margin: 4px;
border-radius: 13px;
line-height: 33px;
font-size: 20px;
}

#teclado>#linha2{
display:flex;
justify-content: center;
flex-direction: row;
}
#linha2>div{
width: 100%;
height: 100%;
color: white;
align-self: center;
text-align: center;
margin: 4px;
border-radius: 13px;
line-height: 50px;
font-size: 30px;
}

#teclado>#linha3{
display:flex;
justify-content: center;
flex-direction: row;
}
#linha3>div{
width: 100%;
height: 100%;
color: white;
align-self: center;
text-align: center;
margin: 4px;
border-radius: 13px;
line-height: 50px;
font-size: 30px;
}
#teclado>#linha4{
display:flex;
justify-content: center;
flex-direction: row;
}
#linha4>div{
width: 100%;
height: 100%;
color: white;
align-self: center;
text-align: center;
margin: 4px;
border-radius: 13px;
line-height: 50px;
font-size: 30px;
}
#teclado>#linha5{
display:flex;
justify-content: center;
flex-direction: row;
}
#linha5>div{
width: 100%;
height: 100%;
color: white;
align-self: center;
text-align: center;
margin: 4px;
border-radius: 13px;
line-height: 50px;
font-size: 30px;
}
.let{
background-color: rgb(0, 11, 24);
}
.onoff{
background-color: red;
}
.nume{
background-color: #919191;
}

.op>div{
transition: 1s;
border: 1px black solid;
}
.op>div:hover{
cursor: pointer;
-webkit-transform: scale(1.1);
transform: scale(1.1);
}
.op>div:active{
cursor: pointer;
-webkit-transform: scale(0.8);
transform: scale(0.8);
}